

body{
	background-color: #f4f4f4;
}

#loginButtons{
	text-align: center;

	margin-top: 0;
	padding-top: 10px;
	font-size: 20px;
}

.checked{
  
  text-decoration:line-through;
}
header{
	text-align: center;
}
#loginButtons{

	
}

input{

	text-align: center;
}

